body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

body {
  background-color: #7e99f1; /* Light blue background */
  color: black;  /* Light text color */
  transition: all 0.3s ease; /* Smooth transition */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212; /* Dark background */
  color: white;  /* Light text on dark background */
}
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  min-width: 100vh
  
}

.App.toggleDarkMode {
  color: white;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  color: #555;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.dark-mode-button {
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.App.dark {
  color:#eee
}
.App.dark .dark-mode-button {
  background-color: #eee;
  color: #222;
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.next {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.previous {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}